body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

* {
	font-family: 'Beleren Bold';
}

/*
Box model: It is the archetype by which CSS structures its elements based on different properties:
	1. Content: Content (text) of the HTML element
	2. Border: Delimiter of the HTML element
	3. Padding: Internal distance between the border and the content
	4. Margin: External distance between the HTML element and adjacent elements
*/

h1 {
	width: 212px;
	height: 35px;
	/* Shorthand properties */
	border-color: brown;
	border-width: 2px; /* thin = 1px, medium = 3px, thick = 5px */
	border-style: dotted;
	border: 2px dashed steelblue;
}

.box-1,
.box-2 {
	background-color: brown;
	border: medium solid orangered;
	/* 
	Margin & padding:
	.1 value => 4 sides
	.2 values => 1st value = vertical, 2nd value = horizontal
	.3 values => 1st value = top, 2nd value = horizontal, 3st value = bottom
	.4 values => 1st value = top, 2nd value = right, 3st value = bottom, 4th value = left
	*/
	padding: 10px 30px;
	margin: 10px;
}

/* 
Line box:
	- Occupies the necessary space for its content
	- No modifiable dimensions (height, width)
	-Allow for other adjacent elements
	- Padding and margin, push adjacent elements horizontally, NEVER VERTICAL
 Block box:
	- Occupy the entire available width
	- They have modifiable dimensions (height, width)
	- They do not allow other adjacent elements, even if a width is specified
 */

.block-box,
.line-box1 {
	background-color: steelblue;
	width: 550px;
	border: medium dotted white;
	margin: 30px;
}

/* 
Display property:
inline
block
inline-block: It behaves as a line element but accepts to modify its dimensions
none
table
list-item
flex
grid
*/

.one-box,
.line-block-box,
.hidden-box {
	background-color: darkolivegreen;
	padding: 16px;
	margin: 8px;
}

.line-block-box {
	display: inline-block;
}

.hidden-box {
	visibility: hidden;
}

/* Overflow property */

.overflow {
	background-color: brown;
	width: 300px;
	height: 100px;
	overflow: visible;
	overflow: hidden;
	overflow: scroll;
	overflow: auto;
	/* overflow-x: scroll;
	overflow-y: scroll; */
}

/* Box sizing:
content: The width and height of the element only apply to the content of the element
border-box: The width and height of the element applyto all parts of the element, the content, the padding and the borders
*/

.box-sizing-content {
	background-color: darkslategray;
	box-sizing: content-box;
	width: 600px;
	height: 120px;
	padding: 10px;
	margin-bottom: 10px;
	border: thin dotted;
	/* 
	width = 600px + 10px + 10px + 1px + 1px = 622px
	height = 120px + 10px + 10px + 1px + 1px = 142px
	*/
}

.box-sizing-border {
	background-color: darkslategray;
	box-sizing: border-box;
	width: 600px;
	height: 120px;
	padding: 10px;
	margin-bottom: 10px;
	border: thin dotted;
	/* 
	width = 578px + 10px + 10px + 1px + 1px = 600px
	height = 98px + 10px + 10px + 1px + 1px = 120px
	*/
}

.container {
	background-color: darkslategray;
	width: 600px;
	height: 100px;
	margin-top: 20px;
}

.container > * {
	box-sizing: border-box;
	float: left; /* Bad practice: Overlapping of adjacent non-floating elements */
	width: 200px;
	border: thin solid;
	padding: 10px;
}

/* 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
Apply a natural box layout model to all elements, but allowing components to change 
*/

/* html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
} */

/* Floats */

.container-floats {
	background-color: darkolivegreen;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.article {
	clear: both;
}

/* Vertical margin collapse */

.margin-collapse {
	background-color: brown;
}

.margin-collapse section {
	border: thin solid black;
	margin-top: 16px;
	margin-bottom: 16px;
	/* Coupling of vertical margins between adjacent elements */
}

/* Adding horizontal margins */

.adding-margin {
	background-color: brown;
}

.adding-margin span {
	border: thin solid black;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	/* Addition of horizontal margins between adjacent elements  */
}

/* Box centering */

.website {
	border: thin dotted white;
	background-color: darkolivegreen;
	width: 150px;
	height: 100px;
	padding: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
