body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

* {
	font-family: 'Beleren Bold';
}

/*
Box model: It is the archetype by which CSS structures its elements based on different properties:
	1. Content: Content (text) of the HTML element
	2. Border: Delimiter of the HTML element
	3. Padding: Internal distance between the border and the content
	4. Margin: External distance between the HTML element and adjacent elements
*/

h1 {
	width: 212px;
	height: 35px;
	/* Shorthand properties */
	border-color: brown;
	border-width: 2px; /* thin = 1px, medium = 3px, thick = 5px */
	border-style: dotted;
	border: 2px dashed steelblue;
}

.box-1,
.box-2 {
	background-color: brown;
	border: medium solid orangered;
	/* 
	Margin & padding:
	.1 value => 4 sides
	.2 values => 1st value = vertical, 2nd value = horizontal
	.3 values => 1st value = top, 2nd value = horizontal, 3st value = bottom
	.4 values => 1st value = top, 2nd value = right, 3st value = bottom, 4th value = left
	*/
	padding: 10px 30px;
	margin: 10px;
}

/* 
Line box:
	- Occupies the necessary space for its content
	- No modifiable dimensions (height, width)
	-Allow for other adjacent elements
	- Padding and margin, push adjacent elements horizontally, NEVER VERTICAL
 Block box:
	- Occupy the entire available width
	- They have modifiable dimensions (height, width)
	- They do not allow other adjacent elements, even if a width is specified
 */

.block-box,
.line-box1 {
	background-color: steelblue;
	width: 550px;
	border: medium dotted white;
	margin: 30px;
}

/* 
display property
inline
block
inline-block: It behaves as a line element but accepts to modify its dimensions
none
table
list-item
flex
grid
*/

.none-box,
.line-block-box {
	background-color: darkolivegreen;
	padding: 16px;
	margin: 8px;
}

.line-block-box {
	display: inline-block;
}
