body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

* {
	font-family: 'Beleren Bold';
}

/* COLOR BY NAME */

.color-by-name {
	background-color: brown;
	color: whitesmoke;
	border: thin solid whitesmoke;
}

/*
HEX(Hexadecimal system)
0123456789ABCDEF

CMYK(CyanMagentaYellowKey) for printed environments
*/

.hex {
	color: #000000;
	color: #000;
	color: #ff0000;
	color: #f00;
	color: #00ff00;
	color: #0f0;
	color: #0000ff;
	color: #00f;
	color: #ffffff;
	color: #fff;
}

/*
RGB(RedGreenBlue) for digital environments

8 bits for channel
Bit 2 ^ 8 = 256
For each color channel the values range from 0 - 255
*/

.rgb {
	color: rgb(0, 0, 0);
	color: rgb(255, 0, 0);
	color: rgb(0, 255, 0);
	color: rgb(0, 0, 255);
	color: rgb(255, 255, 255);
	color: rgb(255, 100, 0);
	color: rgba(255, 100, 0, 0.75);
}
