body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

* {
	font-family: 'Beleren Bold';
}

/* COLOR BY NAME */

.color-by-name {
	background-color: brown;
	color: whitesmoke;
	border: thin solid whitesmoke;
}

/*
HEX(Hexadecimal system)
0123456789ABCDEF
*/

.hex {
	color: #000000;
	color: #000;
	color: #ff0000;
	color: #f00;
	color: #00ff00;
	color: #0f0;
	color: #0000ff;
	color: #00f;
	color: #ffffff;
	color: #fff;
}

/*
RGB(RedGreenBlue) for digital environments

8 bits for channel
Bit 2 ^ 8 = 256
For each color channel the values range from 0 - 255
*/

.rgb {
	color: rgb(0, 0, 0);
	color: rgb(255, 0, 0);
	color: rgb(0, 255, 0);
	color: rgb(0, 0, 255);
	color: rgb(255, 255, 255);
	color: rgb(255, 100, 0);
	color: rgba(255, 100, 0, 0.75);
}

/* 
HSL(HueSaturationLightness) and CMYK(CyanMagentaYellowKey) for printed environments

1st(Hue):

0°: Red
60°: Yellow
120°: Green
180°: Cyan
240°: Blue
300°: Magenta

2nd(Saturation): 

0%: Grayscale
100%: Pure color

3rd(Lightness): 

0%: Black
100%: White
*/

.hsl {
	color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
	color: hsl(0, 100%, 50%);
	color: hsl(60, 100%, 50%);
	color: hsl(120, 100%, 50%);
	color: hsl(180, 100%, 50%);
	color: hsl(240, 100%, 50%);
	color: hsl(300, 100%, 50%);
}

/* 
TRANSPARENT: Equivalent to apply rgba(0,0,0,0)
CURRENTCOLOR: Inherits the default value of the browser or the one assigned to the color property of the nearest ancestor
*/

.transparent-current {
	background-color: transparent;
	background-color: currentColor;
}
