html {
	box-sizing: border-box;
}

body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

img {
	width: 50%;
}

h1,
a,
h2,
h3,
footer {
	font-family: 'Beleren Bold';
}

/*
FONT STYLES
Shorthand property: 
font: font-style font-variant font-weight font-size / line-height font-family
*/

.font {
	/* font-family: 'Beleren Bold';
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
	line-height: 1.5; */
	font: italic small-caps bold 18px / 1.5 'Beleren Bold';
}

/* 
WOFF: Web Open Font Format

FONT-DISPLAY:
	auto: Allows the browser to use the default method, which is usually block
	block: briefly hides the text until the font has been fully downloaded
	swap: Instructs the browser to use the alternate font to display the text until the custom font is fully loaded	(RECOMMENDED)
	fallback: Is a mix of auto and swap
	optional: Will hide the text, then load it with the alternative font, and finally apply the custom font
*/

@font-face {
	font-family: 'Beleren Bold';
	src: url('../typeface-beleren-bold-master/Beleren2016-Bold.woff')
			format('woff'),
		url('../typeface-beleren-bold-master/Beleren2016-Bold.ttf')
			format('truetype'),
		url('../typeface-beleren-bold-master/Beleren2016-Bold.svg#Beleren2016-Bold')
			format('svg');
	font-style: normal;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	/* font-display: swap (For non 'truetype' format cases) */
}

.beleren {
	font-family: 'Beleren Bold', sans-serif;
}

/*
TEXT STYLES
Shorthand property: 
font: font-style font-variant font-weight font-size / line-height font-family
*/

.text-1 {
	font-family: 'Beleren Bold';
	background-color: indianred;
	border: thin solid;
	padding: 1rem;
	width: 70%;
	text-align: justify;
	text-decoration: none;
	text-indent: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-transform: capitalize;
	letter-spacing: 0.25rem;
	word-break: break-all;
	word-spacing: 1rem;
}

.text-2 {
	font-family: 'Beleren Bold';
	writing-mode: vertical-lr;
}

/* MATERIAL SIMBOLS & ICONS */

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.fa-wizards-of-the-coast {
	font-size: 100px;
}
