/* CSS rule :

selector {
    attribute: value;
} */

@import url('secondary-stylesheet.css');
/* Bad practice: delay page loading!!! */

body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

/*
Basic selectors 
1) Tags or html elements
2) id atributes (#)
3) Classes or class atributes (.)
*/

p {
	color: steelblue;
}

/* Bad practice: unique identifiers cannot be reused, use them in interaction with JavaScript*/
#text-2 {
	color: skyblue;
}

/* A single html element can have several class attributes */
.text-20 {
	font-size: 20px;
}

.text-16 {
	font-size: 16px;
}

.bg-skyblue {
	background-color: skyblue;
}

.bg-steelblue {
	background-color: steelblue;
}

.text-white {
	color: aliceblue;
}

/* 
Advanced selectors 
Child selectors
*/

.direct-child > li {
	background-color: steelblue;
}

.descendant-child b {
	background-color: steelblue;
}

/* 
Advanced selectors 
Sibling selectors
*/

/* Applies to all sibling elements adjacent to the reference element */
.general-sibling ~ li {
	background-color: steelblue;
}

/* Applies to the immediate sibling element adjacent to the reference element */
.adjacent-sibling + li {
	background-color: steelblue;
}

/*
Advanced selectors 
Attribute selectors
*/

.attribute-selectors a[href] {
	color: skyblue;
}

.attribute-selectors a[target='_blank'] {
	font-weight: bold;
}

/* Applies as long as the link contains the specified value */
.attribute-selectors a[href*='mtgo'] {
	font-size: 24px;
}

/* Applies as long as the link starts with the specified value */
.attribute-selectors a[href^='https'] {
	text-decoration: none;
}

/* Applies as long as the link ends with the specified value */
.attribute-selectors a[href$='s'] {
	color: cornflowerblue;
}

/* Applies as long as the link contains the specified space-separated value within a sequence */
.attribute-selectors a[class~='arena'] {
	color: slateblue;
}

/* Applies as long as the link contains the specified value separated by spaces followed by a hyphen within a sequence */
.attribute-selectors a[class|='magic'] {
	color: brown;
}

/*
Advanced selectors 
Universal selector
*/

* {
	font-family: 'Beleren Bold';
}

/* Pseudo-classes 
State Pseudo-classes
*/

.pseudo-classes-form *:required {
	border-color: orange;
}

.pseudo-classes-form *:invalid {
	border-color: brown;
}

.pseudo-classes-form *:valid {
	border-color: cornflowerblue;
}

.pseudo-classes-form *:focus {
	background-color: cornsilk;
}

.pseudo-classes-form *:disabled {
	border-color: brown;
}

.pseudo-classes-menu a:visited {
	color: brown;
}

.pseudo-classes-menu a:hover {
	color: orange;
}

/* Pseudo-classes 
Position & Type Pseudo-classes
*/

.pseudo-classes-list li:first-child {
	color: cornsilk;
}

.pseudo-classes-list li:last-child {
	color: forestgreen;
}

.pseudo-classes-list li:nth-child(2) {
	color: cornflowerblue;
}

.pseudo-classes-list li:nth-child(3) {
	color: gray;
}

.pseudo-classes-list li:nth-child(4n) {
	color: brown;
}

.article-pseudo-class p:first-of-type {
	color: cornsilk;
}

.article-pseudo-class p:last-of-type {
	color: forestgreen;
}

.article-pseudo-class p:nth-of-type(2) {
	color: cornflowerblue;
}

.article-pseudo-class p:nth-of-type(3) {
	color: brown;
}

.article-pseudo-class *:not(p, header, footer) {
	color: gray;
}

/* Pseudo-elements */

.pseudo-element-white {
	color: cornsilk;
}

.pseudo-element-white::before {
	content: '⚪';
}

.pseudo-element-white::after {
	content: '⚪';
}

.pseudo-element-blue {
	color: cornflowerblue;
}

.pseudo-element-blue::first-letter {
	font-size: 32px;
}

.pseudo-element-red {
	color: brown;
}

.pseudo-element-red::first-line {
	color: orangered;
}

*::selection {
	color: orange;
	background-color: black;
}

.pseudo-element-input::placeholder {
	color: orangered;
}
