/* CSS rule :

selector {
    attribute: value;
} */

@import url('secondary-stylesheet.css');
/* Bad practice: delay page loading!!! */

body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

/*
Basic selectors 
1) Tags or html elements
2) id atributes (#)
3) Classes or class atributes (.)
*/

p {
	color: steelblue;
}

/* Bad practice: unique identifiers cannot be reused, use them in interaction with JavaScript*/
#text-2 {
	color: skyblue;
}

/* A single html element can have several class attributes */
.text-20 {
	font-size: 20px;
}

.text-16 {
	font-size: 16px;
}

.bg-skyblue {
	background-color: skyblue;
}

.bg-steelblue {
	background-color: steelblue;
}

.text-white {
	color: aliceblue;
}

/* Advanced selectors 
Child selectors
*/

.direct-child > li {
	background-color: steelblue;
}

.descendant-child b {
	background-color: steelblue;
}

/* Advanced selectors 
Sibling selectors
*/

/* applies to all sibling elements adjacent to the reference element */
.general-sibling ~ li {
	background-color: steelblue;
}

/* applies to the immediate sibling element adjacent to the reference element */
.adjacent-sibling + li {
	background-color: steelblue;
}
