body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: darkslategray;
	margin: 0;
}

* {
	font-family: 'Beleren Bold';
}

img {
	width: 50%;
}

/* 
UNITS OF MEASUREMENT
ABSOLUTE: Their value does not change, real-world units
    pc, cm, mm, in, Q
    pt(1/72in)
    px(1/96in)
RELATIVE: Their value is relative to the context (RECOMMENDED FOR RESPONSIVE DESIGN!)
    em, rem, ex, ch (Font size)
        em: based on the width of the "m" in the element font
        rem: based on the width of the "m" of the font of the root element (html)
        ex: based on the height of the "x" of the element font
        ch: based on the height of the "0" of the element's font
    % (Container size)
    vw, vh, vmin, vmax (viewport size)
        vw: width of the viewport ranging from 1 to 100 
        vh: height of the viewport ranging from 1 to 100
        vmin: between vw and vh take whichever has the smaller value
        vmax: between vw and vh takes whichever has the greater value

UNIT CONVERTER: https://pxtoem.com.au/
*/

html {
	box-sizing: border-box;
	background-color: #121418;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

/*
ABSOLUTE
    PIXELS
*/

.pixels {
	background-color: cornflowerblue;
	border: thick solid;
	padding: 20px;
	width: 500px;
}

/*
RELATIVE
    EM, REM, EX, CH
*/

.ems {
	background-color: darkolivegreen;
	border: thick solid; /* 5px */
	padding: 1.5em; /* 30px */
	font-size: 1.25em; /* 20px */
}

.em-child {
	background-color: darkslategray;
	margin: 0.5em; /* 15px */
	border: medium solid; /* 3px */
	padding: 1.5em; /* 45px */
	font-size: 1.5em; /* 30px */
}

.rems {
	background-color: darkorange;
	border: thick solid; /* 5px */
	padding: 1.5rem; /* 24px */
	font-size: 1.25rem; /* 20px */
}

.rem-child {
	background-color: indianred;
	margin: 0.5rem; /* 8px */
	border: medium solid; /* 3px */
	padding: 1.5rem; /* 24px */
	font-size: 1.5rem; /* 24px */
}

.exs {
	background-color: darkorange;
	border: thick solid; /* 5px */
	padding: 1.5ex; /* 9.33px */
	font-size: 1.5ex; /* 12.4453px */
}

.ex-child {
	background-color: indianred;
	margin: 0.5ex; /* 2.3325px */
	border: medium solid; /* 3px */
	padding: 1.5ex; /* 6.9975px */
	font-size: 1.5ex; /* 9.33px */
}

.chs {
	background-color: brown;
	width: 10ch;
}

/*
RELATIVE
    PERCENT
*/

.height-parent {
	background-color: indianred;
	margin: 5%;
	width: 90%;
	height: 150px;
}

.height-child {
	background-color: brown;
	width: 50%;
	height: 100%;
}

/*
RELATIVE
    VW, VH, VMIN, VMAX
*/

.viewport {
	background-color: brown;
	/* NOTE: Note that the body tag has default margins and that the browser scrollbars are also part of the graphic window. */
	width: 100vw;
	height: 30vh;
}

.vmin,
.vmax {
	background-color: cornflowerblue;
	margin: 5px;
	border: medium solid;
	width: 50vmax;
	height: 50vmin;
}
