body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

* {
	font-family: 'Beleren Bold';
}

img {
	width: 50%;
}

/* 
UNITS OF MEASUREMENT
ABSOLUTE: Their value does not change, real-world units
    pc, cm, mm, in, Q
    pt(1/72in)
    px(1/96in)
RELATIVE: Their value is relative to the context (RECOMMENDED FOR RESPONSIVE DESIGN!)
    em, rem, ex, ch (Font size)
        em: based on the width of the "m" in the element font
        rem: based on the width of the "m" of the font of the root element (html)
        ex: based on the height of the "x" of the element font
        ch: based on the height of the "0" of the element's font
    % (Container size)
    vw, vh, vmin, vmax (viewport size)
        vw: width of the viewport ranging from 1 to 100 
        vh: height of the viewport ranging from 1 to 100
        vmin: between vw and vh take whichever has the smaller value
        vmax: between vw and vh takes whichever has the greater value

UNIT CONVERTER: https://pxtoem.com.au/
*/

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

.pixels {
	background-color: cornflowerblue;
	border: thick solid;
	padding: 20px;
	width: 500px;
}

.ems {
	background-color: darkolivegreen;
	border: thick solid; /* 5px */
	padding: 1.5em; /* 30px */
	font-size: 1.25em; /* 20px */
}

.em-child {
	background-color: darkslategray;
	margin: 0.5em; /* 15px */
	border: medium solid; /* 3px */
	padding: 1.5em; /* 45px */
	font-size: 1.5em; /* 30px */
}

.rems {
	background-color: darkorange;
	border: thick solid; /* 5px */
	padding: 1.5rem; /* 24px */
	font-size: 1.25rem; /* 20 px */
}

.rem-child {
	background-color: indianred;
	margin: 0.5rem; /* 8px */
	border: medium solid; /* 3px */
	padding: 1.5rem; /* 24px */
	font-size: 1.5rem; /* 24px */
}
