html {
	box-sizing: border-box;
}

body {
	color: aliceblue;
	font-family: sans-serif;
	background-color: #121418;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	font-family: 'Beleren Bold';
}

img {
	width: 50%;
}

/* CUSTOM PROPERTIES */

:root {
	--dafault-color: indianred;
}

.custom-props-1 {
	--primary-color: brown;
	--font-size: 18px;
}

.title-props {
	color: var(--primary-color);
	color: var(--dafault-color);
}

.custom-props-1 {
	background-color: var(--primary-color);
}

.custom-props-2 {
	border: var(--border);
	padding: 1rem;
}

.custom-props-3 {
	font-size: var(--font-size);
	border: var(--border);
}

/* CALC() */

.ch-10 {
	--padding-size: 2ch;
	--num-ch: 10ch;
	background-color: var(--dafault-color);
	padding: var(--padding-size);
	width: calc(var(--num-ch) + var(--padding-size) * 2);
	font-size: 1.5rem;
}

/* MIN() & MAX() */

.min-max {
	background-color: var(--dafault-color);
	width: min(300px, 20vw);
	height: max(200px, 25vh);
}
