html {
	box-sizing: border-box;
	font-family: sans-serif;
	color: aliceblue;
	background-color: #121418;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	font-family: 'Beleren Bold';
}

/*
BOX-SHADOW
Shorthand property: 
box-shadow: horizontal-offset vertical-offset blur-shadow spread-shadow color;
*/

.box {
	margin: 5rem auto;
	border: thin solid;
	width: 300px;
	height: 300px;
}

.box-shadow {
	box-shadow: none; /* Default Value */
	box-shadow: 1rem 1rem 1rem 1rem aliceblue inset;
	box-shadow: 1rem 1rem 1rem 1rem aliceblue;
}

/*
TEXT-SHADOW
Shorthand property: 
text-shadow: horizontal-offset vertical-offset blur-shadow color;
*/

.text {
	text-align: center;
	font-size: 32px;
}

.text-shadow {
	text-shadow: none; /* Default Value */
	text-shadow: 0.5rem 0.5rem 0.1rem brown;
}

/*
FILTER: DROP-SHADOW()
Shorthand property: 
filter: drop-shadow(horizontal-offset vertical-offset blur-shadow color);
*/
.drop-shadow {
	margin: auto;
	/* border: thin solid; */
	width: 600px;
	height: auto;
}

.drop-shadow img {
	max-width: 100%;
	filter: drop-shadow(0rem 0rem 0.5rem olive);
}

/* LINEAL GRADIENT */

.linear-gradient {
	background-image: linear-gradient(0deg, red, orange, yellow);
	background-image: linear-gradient(45deg, red, orange, yellow);
	background-image: linear-gradient(90deg, red, orange, yellow);
	background-image: linear-gradient(135deg, red, orange, yellow);
	background-image: linear-gradient(180deg, red, orange, yellow);
	background-image: linear-gradient(225deg, red, orange, yellow);
	background-image: linear-gradient(270deg, red, orange, yellow);
	background-image: linear-gradient(
		360deg,
		red,
		orange,
		yellow
	); /* Clockwise */
	background-image: linear-gradient(to top, red, orange, yellow);
	background-image: linear-gradient(to top right, red, orange, yellow);
	background-image: linear-gradient(to right, red, orange, yellow);
	background-image: linear-gradient(to bottom right, red, orange, yellow);
	background-image: linear-gradient(to bottom, red, orange, yellow);
	background-image: linear-gradient(to bottom left, red, orange, yellow);
	background-image: linear-gradient(to left, red, orange, yellow);
	background-image: linear-gradient(to top left, red, orange, yellow);
	background-image: linear-gradient(to top, red, orange, yellow);
	background-image: linear-gradient(to top, red 30%, orange 60%, yellow);
	background-image: linear-gradient(
		to top,
		red 33%,
		orange 34% 67%,
		yellow 68%
	);
}
