html {
	box-sizing: border-box;
	font-family: sans-serif;
	color: aliceblue;
	background-color: #121418;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	font-family: 'Beleren Bold';
}

/*
BOX-SHADOW
Shorthand property: 
box-shadow: horizontal-offset vertical-offset blur-shadow spread-shadow color;
*/

.box {
	margin: 5rem auto;
	border: thin solid;
	width: 300px;
	height: 300px;
}

.box-shadow {
	box-shadow: none; /* Default Value */
	box-shadow: 1rem 1rem 1rem 1rem aliceblue inset;
	box-shadow: 1rem 1rem 1rem 1rem aliceblue;
}

/*
TEXT-SHADOW
Shorthand property: 
text-shadow: horizontal-offset vertical-offset blur-shadow color;
*/

.text {
	text-align: center;
	font-size: 32px;
}

.text-shadow {
	text-shadow: none; /* Default Value */
	text-shadow: 0.5rem 0.5rem 0.1rem brown;
}

/*
FILTER: DROP-SHADOW()
Shorthand property: 
filter: drop-shadow(horizontal-offset vertical-offset blur-shadow color);
*/
.drop-shadow {
	margin: auto;
	/* border: thin solid; */
	width: 600px;
	height: auto;
}

.drop-shadow img {
	max-width: 100%;
	filter: drop-shadow(0rem 0rem 0.5rem olive);
}

/* LINEAL GRADIENT */

.linear-gradient {
	background-image: linear-gradient(0deg, red, orange, yellow);
	background-image: linear-gradient(45deg, red, orange, yellow);
	background-image: linear-gradient(90deg, red, orange, yellow);
	background-image: linear-gradient(135deg, red, orange, yellow);
	background-image: linear-gradient(180deg, red, orange, yellow);
	background-image: linear-gradient(225deg, red, orange, yellow);
	background-image: linear-gradient(270deg, red, orange, yellow);
	background-image: linear-gradient(
		360deg,
		red,
		orange,
		yellow
	); /* Clockwise */
	background-image: linear-gradient(to top, red, orange, yellow);
	background-image: linear-gradient(to top right, red, orange, yellow);
	background-image: linear-gradient(to right, red, orange, yellow);
	background-image: linear-gradient(to bottom right, red, orange, yellow);
	background-image: linear-gradient(to bottom, red, orange, yellow);
	background-image: linear-gradient(to bottom left, red, orange, yellow);
	background-image: linear-gradient(to left, red, orange, yellow);
	background-image: linear-gradient(to top left, red, orange, yellow);
	background-image: linear-gradient(to top, red, orange, yellow);
	background-image: linear-gradient(to top, red 30%, orange 60%, yellow 90%);
	/* background-image: linear-gradient(
		to top,
		red 33%,
		orange 34% 67%,
		yellow 68%
	); */
}

/* RADIAL GRADIENT */

.radial-gradient {
	background-image: radial-gradient(red, orange, yellow);
	background-image: radial-gradient(circle 200px, brown, darkorange, yellow);
	background-image: radial-gradient(
		circle 200px,
		brown 30%,
		darkorange 60%,
		yellow 90%
	);
	background-image: radial-gradient(
		circle 200px at bottom,
		red,
		orange,
		yellow
	);
	background-image: radial-gradient(
		circle 200px at bottom left,
		red,
		orange,
		yellow
	);
	background-image: radial-gradient(circle 200px at left, red, orange, yellow);
	background-image: radial-gradient(
		circle 200px at top left,
		red,
		orange,
		yellow
	);
	background-image: radial-gradient(circle 200px at top, red, orange, yellow);
	background-image: radial-gradient(
		circle 200px at top right,
		red,
		orange,
		yellow
	);
	background-image: radial-gradient(circle 200px at right, red, orange, yellow);
	background-image: radial-gradient(
		circle 200px at bottom right,
		red,
		orange,
		yellow
	);
	background-image: radial-gradient(
		circle 200px at bottom,
		red,
		orange,
		yellow
	);
	background-image: radial-gradient(
		ellipse 200px 150px,
		red 30%,
		orange 60%,
		yellow 90%
	);
	/* background-image: radial-gradient(
		ellipse 150px 200px,
		red 33%,
		orange 34% 67%,
		yellow 68%
	); */
}

/* CONIC GRADIENT */

.conic-gradient {
	background-image: conic-gradient(red, orange, yellow); /* Clockwise */
	background-image: conic-gradient(
		red 90deg,
		orange 135deg 225deg,
		yellow 270deg
	);
	background-image: conic-gradient(
		from 180deg,
		red 90deg,
		orange 135deg 225deg,
		yellow 270deg
	);
}

/* REPEAT LINEAL GRADIENT */

.repeat-linear-gradient {
	background-image: repeating-linear-gradient(
		red 0 5px,
		orange 10px 15px,
		yellow 20px 25px
	);
	background-image: repeating-linear-gradient(
		45deg,
		red 0 5px,
		orange 10px 15px,
		yellow 20px 25px
	);
}

/* REPEAT RADIAL GRADIENT */

.repeat-radial-gradient {
	background-image: repeating-radial-gradient(
		red 0 5px,
		orange 10px 15px,
		yellow 20px 25px
	);
}

/* REPEAT CONIC GRADIENT */

.repeat-conic-gradient {
	background-image: repeating-conic-gradient(
		red 0 5%,
		orange 10% 15%,
		yellow 20% 25%
	);
}

/* GRADIENT GRAPHICS */

.chart-gradient {
	background-image: conic-gradient(red 50%, orange 50% 80%, yellow 80%);
	border-radius: 50%;
}

.donut-gradient {
	background-image: radial-gradient(#121418 40%, white 41%, transparent 41%),
		conic-gradient(red 50%, orange 50% 80%, yellow 80%);
	border-radius: 50%;
}

/* SINGLE FILTERS */

.card {
	margin: 2rem auto;
	border: thin solid;
	width: 700px;
	height: 400px;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 50%;
}

.single-filters {
	filter: blur(0.15rem);
	filter: brightness(0.25); /* Value range 0 to 1 */
	filter: contrast(0.5); /* Value range 0 to 1 */
	filter: grayscale(); /* Value range 0 to 1 (Default Value) */
	filter: sepia(); /* Value range 0 to 1 (Default Value) */
	filter: hue-rotate(225deg); /* Value range 0 to 360deg */
	filter: invert(); /* Value range 0 to 1 (Default Value) */
	filter: opacity(0.2); /* Value range 0 to 1 (Default Value) */
	filter: opacity(0.2); /* Value range 0 to 1 (Default Value) */
	filter: saturate(0); /* Value range 0 to 1 (Default Value) */
}

/* MULTIPLE FILTERS */

.multiple-filters {
	filter: hue-rotate(275deg) invert() saturate(0.5);
}

/* BACKDROP FILTERS */

.relative {
	position: relative;
}

.backdrop-filters {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.backdrop-filters h4 {
	color: white;
	font-size: 3rem;
	padding: 3rem 9.9rem;
	border: thin solid;
	background-color: rgba(178, 34, 34, 0.75);
	backdrop-filter: invert();
}
